.admin-btns {
    display: flex;
}

.delete-btn,
.edit-btn {
    padding: 0.5em 2.5em;
    font-family: var(--main-font-family);
    font-size: var(--button-font-size);
    border: none;   
    background-image: var(--main-background-color);
    margin: auto;
}

.delete-btn:hover,
.delete-btn:focus,
.edit-btn:hover,
.edit-btn:focus {
    cursor: pointer;
    background: var(--button-hover-color);
}

.delete-btn:hover,
.delete-btn:focus {
    cursor: pointer;
    background: var(--delete-button-hover-color);
}