.edit-question-form {
    text-align: center;
}

.edit-quiz-button,
.edit-quiz-button {
    padding: 0.5em 2.5em;
    font-family: var(--main-font-family);
    font-size: var(--button-font-size);
    border: none;   
    background-image: var(--main-background-color);
}

.edit-quiz-button:hover,
.edit-quiz-button:focus,
.edit-quiz-button:hover,
.edit-quiz-button:focus {
    cursor: pointer;
    background: var(--button-hover-color);
}
