.site-header {
    display: flex;
    flex-direction: column;
}

.site-nav {
    display: flex;
    padding: 0.3em 1em;
    background-image: var(--main-background-color);
}

.site-nav a {
    padding: 0.5em;
}

.site-nav ul {
    display: flex;
    margin-left: auto;
}

.site-nav ul li {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.site-nav ul li a {
    display: flex;
}

.site-nav a:focus,
.site-nav a:hover,
.site-nav ul li a:focus,
.site-nav ul li a:hover {
    box-shadow: 5px 0px 11px 0px rgba(52, 52, 52, 0.637);
}



@media (max-width: 600px) {

    .site-nav {
        display: flex;
        flex-wrap: wrap;
    }
    
    .site-nav a {
        padding-right: 0.1em;
    }

}