.quiz-card {
    padding: 4em;
    box-shadow: 0px 13px 21px 0px rgba(0,0,0,0.7);
    border-radius: 0.3em;
    margin: 1em;
    text-align: center;
    width: auto;
    height: auto;
}

.quiz-card p {
    margin: 0.5em;
}

.try-again-button {
    padding: 0.5em 2.5em;
    font-family: var(--main-font-family);
    font-size: var(--button-font-size);
    border: none;   
    background-image: var(--main-background-color);
}

.try-again-button:hover,
.try-again-button:focus {
    cursor: pointer;
    background: var(--button-hover-color);
}

.home-link {
    color: var(--main-a-color);
}